API_Web/GoodLearn/vendor/
API_Web/GoodLearnnode_modules/
API_Web/GoodLearnnpm-debug.log
API_Web/GoodLearnyarn-error.log

# Laravel 4 specific
API_Web/GoodLearnbootstrap/compiled.php
API_Web/GoodLearnapp/storage/

# Laravel 5 & Lumen specific
API_Web/GoodLearnpublic/storageAPI_Web/GoodLearn
API_Web/GoodLearnpublic/hot

# Laravel 5 & Lumen specific with changed public path
API_Web/GoodLearnpublic_html/storage
API_Web/GoodLearnpublic_html/hot

API_Web/GoodLearnstorage/*.key
API_Web/GoodLearn.env
API_Web/GoodLearnHomestead.yaml
API_Web/GoodLearnHomestead.json
API_Web/GoodLearn/.vagrant
API_Web/GoodLearn.phpunit.result.cache

API_Web/GoodLearn/app/Providers/AppServiceProvider.php
